.lobby-wrapper {
  height: 100vh;
  padding-top: 10%;
  background-image: radial-gradient(circle, rgb(5,110,27), rgb(2, 72, 17));
  overflow: hidden;
}

.games-list {
  text-align: center;
  margin: 0 auto;
  width: auto;
  height: 50%;
  overflow-y: scroll;

}

.game-url {
  cursor: pointer;
  color: white;
  font-size: 32px;
  list-style: none;
}

.game-url:hover {
  opacity: 0.7;
}

.menu-btn-container {
  margin: 0 auto;
  width: 400px;
}

.menu-btn {
  width: 400px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgb(1, 44, 10);
  font-size: 44px;
  text-align: center;
  margin: 50px;
  background-image: linear-gradient(rgb(255, 6, 6), rgb(110,6,6));
  color: white;
}

.menu-btn:hover {
  background-image: linear-gradient(rgb(180, 6, 6), rgb(80,6,6));
}

.input-field {
  margin: 0 auto;
  width: 50%;
}
.input-name {
  background-color: rgb(0,0,0,0);
  width: 100%;
  font-size: 56px;
  text-align: center;
  border: 0px;
  color: white;
  outline: none;
}

