.chatWindow{
  width: 25vw;
  height: 90vh;
  border: 1px solid rgb(0, 0, 0);
  float: left;
}
.messageWindow{
  height: 83.5vh;
  overflow-y: scroll;
}
.chatInputWrapper{
  height: 100%;
  width: 100%;
}
.message{
  padding: 5px;
}

.btn{
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
}

