.chatWindow{
  width: 25vw;
  height: 90vh;
  border: 1px solid rgb(0, 0, 0);
  float: left;
}
.messageWindow{
  height: 90%;
  overflow-y: scroll;
}
.chatInputWrapper{
  height: 4%;
  width: 100%;
  clear: both;
}

.msg-status{
  height: 3%;
  font-size: 12px;
  float: right;
  color: rgb(164, 164, 164);
  padding-right: 5px;
}

.message{
  padding: 5px;
}

.btn{
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
}

