* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.chatWindow{
  width: 25vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}
.messageWindow{
  flex-grow: 1;
  overflow-y: scroll;
}
.chatInputWrapper{
  align-items: flex-end;
  width: 100%;
  clear: both;
}

.msg-status{
  height: 3%;
  font-size: 12px;
  float: right;
  color: rgb(164, 164, 164);
  padding-right: 5px;
}

.message{
  padding: 5px;
}

.btn{
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
}

