* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.headerWrapper {
  padding: 5px;
  font-size: 24px;
  background-image: linear-gradient(rgb(0,0,0), rgb(70, 70, 70), rgb(0, 0, 0));
  color: #fff;
  width: 100vw;
  height: 10vh;
}
.name{
  float: left;
}
.connectionIcon{
  float: left;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 1px solid #000;
  background-color: rgb(52, 233, 6);
  margin: 10px;
}

.logo {
  margin: 10px;
  font-size: 44px;
  float: left;
}
.connectionWrapper {
  float: right;
  margin: 0px 50px 0px 10px;
  padding-top: 20px;
}

.clear{
  clear: both;
}
